#!/bin/sh

{ 

    cd /var/www/html/
    sudo php occ maintenance:install \
    --data-dir "{{ dir_nextcloud }}/files/" \
    --database "{{ db_type }}" \
    --database-name "{{ db_name }}" \
    --database-user "{{ mysql_user }}" \
    --database-pass "{{ mysql_pwd }}" \
    --admin-user "{{ nc_admin }}" \
    --admin-pass "{{ nc_passwd }}" \
    --admin-email "{{ mail_addr }}" \
    /
} || { 
    echo "error..."
}


