<VirtualHost *:80>
  DocumentRoot "{{ dir_nextcloud }}"
  ServerName  "{{ url_nextcloud }}"

  <Directory "{{ dir_nextcloud }}">
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews

    <IfModule mod_dav.c>
      Dav off
    </IfModule>
  </Directory>
</VirtualHost>